
body {
    background-color: black;
    margin: 0;
}

#snow-gif{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    display: block;
}

p, h1, h2, h3, button {
    color: white;
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    z-index: 10;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
}

p {
    font-size: 1.7rem;
}

form {
    margin-left: 50%;
    margin-bottom: 100px;
}


#joke-button {
    background-color: white;
    border: 3px solid white;;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
    transform: translate(-50%);
}

#joke-button:hover {
    background-color: black;
    color: white;
    border: 3px solid white;
    transition: 0.2s;
}

h3.quote {
    margin-bottom: 100px;
}

